<html>

<head>
    <link rel="stylesheet" href="https://unpkg.com/@universis/theme@1.0.5/css/universis.css"
        integrity="sha384-GcIMWx3Jq0rHFUoV9TxtmxKkYHxwNoaXhDb/sNO7H6s6X34p02LJyfVwnH2B61sl" crossorigin="anonymous">
    <style>
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="text-right mb-2">
            <img style="height: 64px" src="https://students.universis.io/assets/img/universis_logo_128_color.png"
                alt="Universis Project Logo">
        </div>
        <h3>Έχεις νέο μήνυμα στο UniverSIS</h3>
        <div class="card">
            <div class="card-body">
                <%if(model.category == 'InstructorMessage') {%>
                <p>
                    Μήνυμα από τον/την <b><%=model.sender.alternateName%></b>
                </p>
                <%}%>
                <p>
                    Ημερομηνία και ώρα:
                    <%=html.moment(model.dateCreated).locale(html.context.getApplication().getConfiguration().getSourceAt('settings/i18n/defaultLocale')).format('LLLL')%>
                </p>
                <p>
                    Θέμα: <%=model.subject%>
                </p>
                <p>
                    Μήνυμα: <%-model.body%>
                </p>
                <a href='http://students.universis.io/'>
                    Εμφάνιση μηνύματος στην εφαρμογή των φοιτητών
                </a>
            </div>
        </div>
    </div>
</body>

</html>