<html>
<head>
    <link rel="stylesheet"
          href="https://unpkg.com/@universis/theme@1.0.5/css/universis.css"
          integrity="sha384-GcIMWx3Jq0rHFUoV9TxtmxKkYHxwNoaXhDb/sNO7H6s6X34p02LJyfVwnH2B61sl"
          crossorigin="anonymous">
    <style>
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="text-right mb-2">
        <img style="height: 64px" src="https://students.universis.io/assets/img/universis_logo_128_color.png" alt="Universis Project Logo">
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Αποστολή πρόχειρης αναλυτικής βαθμολογίας </h5>
            <p class="card-text">Ολοκλήρωσες με επιτυχία μία νέα αποστολή πρόχειρης αναλυτικής βαθμολογίας.</p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h6 class="card-title">
            </h6>
            <div>
                <ul class="sis--list-group sis--list-group-body">
                    <table>
                    <%
                        const studentCourses = courses;
                        courses = courses.filter(studentCourse => {
                            return studentCourse.courseStructureType && studentCourse.courseStructureType.id !== 8;
                        });
                        // add courseParts as courses to each parent course
                        courses.forEach( studentCourse => {
                            // get course parts
                            if (studentCourse.courseStructureType && studentCourse.courseStructureType.id === 4) {
                                studentCourse.courses = studentCourses.filter(course => {
                                    return course.parentCourse === studentCourse.course.id;
                                }).sort((a, b) => {
                                    return a.course.displayCode < b.course.displayCode ? -1 : 1;
                                });
                            }
                        });
                    let group = courses.reduce((r, a) => {
                        r[a.semester.id] = [...r[a.semester.id] || [], a];
                        return r;
                    }, {});
                    let index_arr = removeDuplicates(courses).sort(function(a, b){return a-b});
                    function removeDuplicates(arr) {
                        const unique_array = [];
                        for (let i = 0; i < arr.length; i++) {
                            if (unique_array.indexOf(arr[i].semester.id) === -1) {
                                unique_array.push(arr[i].semester.id);
                            }
                        }
                        return unique_array;
                    }
                    %>
                    <%if (courses.length===0) {%>
                    <h5 class="text-danger mt-3 pl-4">Η αναλυτική βαθμολογία δεν περιέχει μαθήματα.</h5>
                    <%}%>
                    <%if (courses.length>=0) {
                    for (let i = 0; i < index_arr.length; i++) {
                    %>
                        <tr>
                    <th class="pb-3 pt-5"> <%=index_arr[i]%>o Εξάμηνο </th>
                        </tr>
                        <tr>
                            <th class="text-left">Μάθημα</th>
                            <th >Κωδικός</th>
                            <th >Εξεταστική</th>
                            <th >Τύπος</th>
                            <th >ΔΜ</th>
                            <th >ECTS</th>
                            <th >Συντ.</th>
                            <th>Βαθμός</th>
                        </tr>
                    <%
                    group[index_arr[i]].forEach( function(item) {
                    %>
                    <tr>
                            <td class="text-left"><%=item.course.name%>
                               <% if (item.registrationType === 1) {%> (Απαλλαγή/Κατοχύρωση) <%}%>
                                <% if (item.calculateGrade === 0) {%> <sup>*</sup> <%}%>
                                <% if (item.calculateUnits === 0) {%> <sup>**</sup> <%}%></td>
                            <td ><%=item.course.displayCode%></td>
                            <%if (item.gradePeriodDescription !=null) {%>
                            <td ><%=item.gradePeriodDescription%></td>
                            <%}
                            else {%>
                            <td>-</td>
                            <%}%>
                            <td ><%=item.courseType.name%></td>
                            <td  class="pl-2"><%=item.units%></td>
                            <td  class="pl-2"><%=item.ects%></td>
                            <td  class="pl-2"><%=item.coefficient%></td>
                            <% if (item.grade != null) {
                            if (item.isPassed) {%>
                            <td class=" text-success font-weight-bold pl-3"><%=item.formattedGrade%></td>
                            <%}
                            else {%>
                            <td class=" text-danger font-weight-bold pl-3"><%=item.formattedGrade%></td>
                            <%}
                            }
                            else {%>
                            <td class="pl-3">-</td>
                            <%}%>
                        <%if (item.courses && item.courses.length>0) {
                        item.courses.forEach (function(item2) {%>
                        <tr>
                            <td class="text-left pl-4"><%=item2.course.name%></td>
                            <td ><%=item2.course.displayCode%></td>
                            <%if (item.gradePeriodDescription !=null) {%>
                            <td ><%=item2.gradePeriodDescription%></td>
                            <%}
                            else {%>
                            <td >-</td>
                            <%}%>
                            <td ><%=item2.courseType.name%></td>
                            <td class="pl-2"><%=item2.units%></td>
                            <td class="pl-2"><%=item2.ects%></td>
                            <td class="pl-2"><%=item2.coefficient%></td>
                            <% if (item.grade != null) {
                            if (item.isPassed) {%>
                            <td class="pl-3 text-success"><%=item2.formattedGrade%></td>
                            <%}
                            else {%>
                            <td class="pl-3 text-danger"><%=item2.formattedGrade%></td>
                            <%}
                            }
                            else {%>
                            <td class="pl-3">-</td>
                            <%}%>
                        </tr>
                        <%})}%>
                    </tr>

                    <%
                    })}}%>
                    </table>
                </ul>
                <%  let count=0;
                    courses.forEach( function(item) {
                    if (item.calculateGrade === 0 || item.calculateUnits === 0 || item.registrationType === 1) {
                        count++;}
                    })
                if (count > 0) {%>
                * Το μάθημα δεν υπολογίζεται στο βαθμό πτυχίου
                ** Το μάθημα δεν υπολογίζεται στη λήψη πτυχίου
                <%}%>
            </div>
        </div>
    </div>

    <div>
        <p>
            Με εκτίμηση,
        </p>
        <p>
            Η γραμματεία του τμήματος σας.
        </p>
    </div>
</div>



</body>
</html>
